* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Pictures/Bunny.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    color: gold;
    font-size: 3vmin;
}

h2 {
    color: gold;
    font-size: 4vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 15vmin);
    grid-template-rows: repeat(3, 15vmin);
    margin-bottom: 4vmin;
    
}

#board > div {
    border: solid greenyellow;
    padding: .5vmin;
}

button {
    padding: 2vmin;
    font-size: 3vmin;
    font-weight: bold;
    border-radius: 4vmin;
    border: .4vmin solid green;
    color: red;
}

button:hover {
    color: red;
    background-color: greenyellow;
}

.fireworks {
    margin-top: 4px;
    height: 800px;
    width: 500px;
    background-image: url("https://gray-wsaw-prod.cdn.arcpublishing.com/resizer/SGCzQYZAY59dsnULg1B_MEPti8o=/800x450/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/gray/XSTFC2ESZZCFRNI25F74VZV5WY.gif");
}